


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Correct</title>
</head>
<body>
    <div>
        @ViewBag.name 
        <br/>
        @ViewData["data"]
        <br/>
        @TempData["value"]
    </div>
</body>
</html>
